@import url('https://fonts.googleapis.com/css?family=Suranna:700|Suranna:400');

body {
  margin: 50px;
  margin-bottom: 0;
  font-family: 'Suranna';
  font-weight: 400;
}

nav {
  position: fixed;
  min-height: 0;
  display: inline;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 2;
  overflow: hidden;
  float: right;
  transition: padding 0.3s ease;
  background-image: url("https://t4.ftcdn.net/jpg/02/10/45/95/360_F_210459536_XmLDEcKq2DpeNLVmheuWeu9NM9aGKnih.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

#name {
  float: left;
  margin-left: 25px;
  position: relative;
  display: inline;
}

nav ul {
  display: flex;
  float: right;
  justify-content: space-evenly;
  padding-right: 40px;
}

nav ul li {
  position: relative;
  display: inline-block;
  font-size: 18px;
  text-align: center;
  margin-left: 10px;
}

/* COLOR THEMES ---------------------- */

:root[data-theme="light"] {
  --text: #021818;
  --background: #ebfeff;
  --primary: #24ebe7;
  --secondary: #9886f4;
  --accent: #a152ef;
}

:root[data-theme="dark"] {
  --text: #e7fdfd;
  --background: #001314;
  --primary: #14dbd8;
  --secondary: #1e0b79;
  --accent: #5e10ad;
}

/* FONTS --------------------------- */

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Suranna';
  font-weight: 700;
}

html {
  font-size: 100%;
}

/* 16px */

h1 {
  font-size: 4.210rem;
  /* 67.36px */
}

h2 {
  font-size: 3.158rem;
  /* 50.56px */
}

h3 {
  font-size: 2.369rem;
  /* 37.92px */
}

h4 {
  font-size: 1.777rem;
  /* 28.48px */
}

h5 {
  font-size: 1.333rem;
  /* 21.28px */
}

small {
  font-size: 0.750rem;
  /* 12px */
}

/* HOME PAGE ----------------------------------- */

.parallax {
  /* set a specific height */
  min-height: 700px;

  /* parallax scrolling effect */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

/* WORK EXPIERIENCE PICTURES ------------------ */

.content_container {
  overflow-x: auto;
  white-space: wrap;
}

.content_container ul {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  list-style-type: none;
}

.content_list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
}

.content_item {
  display: inline-block;
  position: relative;
  margin: 10px;
  transition: opacity 0.5s ease;
}

.content_item img {
  width: 300px;
  height: 300px;
}

.content_middle {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(29, 140, 199, 0.9);
  padding: 10px;
  transition: opacity 0.5s ease;
  border-radius: 10px;
}

.content_container ul li:hover .content_item {
  opacity: 0.7;
}

.content_container ul li:hover .content_middle {
  opacity: 1;
}

.content_text {
  color: white;
  font-size: 16px;
  width: 200px;
}

.top-left {
  position: absolute;
  top: 0px;
  left: 0px;
}



/* FOOTER ------------------------------------- */

html,
body {
  /* for footer not having margin */
  margin: 0;
  padding: 0;
}

footer {
  background-color: #d8f0f4;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 10px;
  width: 100%;
}

.left {
  box-shadow: .5px 0 0 #000;
  margin:5px;
}

.right {
  box-shadow: -.5px 0 0 #000;
}

footer a:link,
footer a:visited {
  color: #6e8892;
  text-decoration: none;
}

footer a:hover {
  color: #0f6574;
}

footer ul li img {
  width: 25px;
}

#social_media{
  display: flex;}

footer ul li a:hover img {
  background-color: #0f6574;
  border-radius: 50%;
}

footer ul li {
  margin: 20px 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

footer a {
  display: flex;
  align-items: center;
}

footer a img {
  vertical-align: middle;
  height: 25px;
  width: auto;
}

footer p{
  margin-bottom: 0;
  background-color:#b1e0ea;
}
footer div{
  margin:20px;
}