@import url("https://fonts.googleapis.com/css?family=Suranna:700|Suranna:400");
@import url("https://fonts.googleapis.com/css?family=Roboto:700|Roboto:400");

body {
  margin: 50px;
  margin-left: 30px auto;
  margin-bottom: 0;
  font-family: "Roboto";
  font-weight: 400;
  background-color: #edfcff;
}

time {
  font-weight: bold;
}

nav {
  position: fixed;
  min-height: 0;
  display: inline;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 2;
  overflow: hidden;
  float: right;
  transition: padding 0.3s ease;
  background-image: linear-gradient(
    to bottom right,
    rgb(104, 170, 255),
    rgb(234, 129, 255)
  );
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#navname {
  float: left;
  margin-left: 25px;
  display:flex;
  justify-content: center;
}

nav ul {
  display: flex;
  float: right;
  justify-content: space-evenly;
  padding-right: 40px;
}

nav ul li {
  position: relative;
  display: inline-block;
  font-size: 18px;
  margin-left: 10px;
}

nav ul li a, nav ul li a:visited{
  text-decoration: none;
  padding: 5px 10px;
color:#8937d5;
}

nav ul li a.active{
  color: #5315a5;
  border-bottom: 3px solid #5315a5;
}

nav ul li a:hover {
  color: rgb(30, 100, 245);
  border-bottom: 3px solid rgb(30, 100, 245);
}

/* FONTS --------------------------- */

h1,
h2,
h3,
h4,
h5 {
  font-family: "Suranna";
  font-weight: 700;
  margin-left: 10px;
}

html {
  font-size: 100%;
}

/* 16px */

h1 {
  font-size: 4.21rem;
  /* 67.36px */
}

h2 {
  font-size: 3rem;
  /* 50.56px */
}

h3 {
  font-size: 2rem;
  /* 37.92px */
}

h4 {
  font-size: 1.777rem;
  /* 28.48px */
}

h5 {
  font-size: 1.333rem;
  /* 21.28px */
}

small {
  font-size: 0.75rem;
  /* 12px */
}

p {
  margin: 10px;
}

/* HOME PAGE ----------------------------------- */

.parallax {
  /* set a specific height */
  min-height: 700px;

  /* parallax scrolling effect */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Responsive Design */
@media (max-width: 580px) {
  #navname{
    display: none;
  }
}

@media (max-width: 768px) {
  .parallax {
    background-attachment: scroll;
  }

  .welcometext{
    left:auto;
  }
}

.welcome {
  position: relative;
}

.welcometext {
  position: absolute;
  top: 50px;
  left: 30px;
  color: black;
  box-shadow: 0px 0px 15px rgba(93, 0, 255, 0.5);
  max-width: 800px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 30px;
  border-radius: 15px;
  margin: 30px auto;
}

.profile {
  text-align: center;
  color: black;
}

#profilebox {
  top: auto;
  left: auto;
  position: sticky;
  max-width: 80%;
  margin-bottom: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

/* WORK EXPERIENCE PICTURES ------------------ */

.content_container {
  overflow-x: auto;
  white-space: wrap;
}

.content_container ul {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  list-style-type: none;
}

.content_list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
}

.content_item {
  display: inline-block;
  position: relative;
  margin: 10px;
  transition: opacity 0.5s ease;
  max-width: 35%;
  height: auto;
}

.content_item img {
  width: 90%;
}

.content_middle {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(122, 29, 199, 1);
  padding: 10px;
  transition: opacity 0.5s ease;
  border-radius: 10px;
}

.content_container ul li:hover .content_item {
  opacity: 0.7;
}

.content_container ul li:hover .content_middle {
  opacity: 1;
}

.content_text {
  color: white;
  font-size: 16px;
  width: 200px;
}

.top-left {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* BUTTONS ----------------- */
#projectbox{
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
  margin:20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  display: inline-block;
  align-items: center;
  text-align: center;
}

#text{
  width: 0;
  max-width: 100%;
}

.fullbtn a:link,
.fullbtn a:visited {
  background-color: white;
  color: #72aaef;
  border: 2px solid #72aaef;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  float: none;
  cursor: pointer;transition: opacity 0.5s ease;
}

.fullbtn img {
  width: auto;
  height: 200px;
  display: block;
  border-top-left-radius:8px; border-top-right-radius:8px;
}

.fullbtn a:link img,
.fullbtn img a:visited {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.fullbtn a:hover img {
  opacity: 0.7;
  transition: opacity 0.5s ease;
}

.fullbtn a:hover,
.fullbtn a:active {
  background-color: #72aaef;
  color: white;transition: opacity 0.5s ease;
}

#profile_pic img {
  float: right;
  margin-left: 20px;
  max-width: 40%;
  height: auto;
}

.projectbuttons button{
  transition-duration: 0.3s;
  text-decoration: none;
  text-align: center;
  background-color: white;
  color: black;
  border: 2px solid #cdacff;
}

.projectbuttons button:hover{
  background-color: #cdacff;
  color: white;
}

/* PORTFOLIO PAGE ------------------------------------*/
#portfolio_name {  text-align: center;}

/* CONTACT FORM ------------------------------------ */

form {
  flex: 1;
  border: none;
  align-items: center;
  text-align: center;
  position: relative;
}

.is-empty {
  background-color: #ffcccc; /* Light red to indicate empty */
}

fieldset {
  border: none;
  margin-bottom: 10px;
}

#name,#formemail, textarea {
  background-color: #dae7f0;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
}

textarea {
  display: inline-block;
  width: 250px;
  padding: 10px;
  height: 80px;
}

/* BUTTONS ON FEEDBACK FORM */

.submitButton {
  margin-top: 10px;
  padding: 8px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.buttons{
  margin-top: 10px;
  padding: 8px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin:5px;
}

.submitButton{
  background-color: #bfb4fd;
  margin:5px;
}

.submitButton:hover{
  transition: transform .3s ease-in-out;
  transform: scale(1.05);
  background-color: #a295ec;
}

/* FOOTER ------------------------------------- */

html,
body {
  /* for footer not having margin */
  margin: 0;
  padding: 0;
}

footer {
  background-color: #d3f8ff;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100%;
}

footer a:link,
footer a:visited {
  color: #6e8892;
  text-decoration: none;
}

#social_media {
  display: flex;
}

footer ul li a:hover img,
.contact_icons a:hover img {
  background-color: #8edbec;
  border-radius: 50%;
}

footer ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

footer a img {
  height: 25px;
  width: auto;
}

footer p {
  margin: 0;
  background-color: #a9e3f0;
}

footer div {
  margin: 15px;
}

/* GALLERY --------------------------------- */

.gallery-image-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: rgba(255, 255, 255, 0);
  padding: 1em;
  transition: all 0.2s ease;
  font-weight: 600;
  max-width: calc(100% - 9em);
  line-height: 1.25;
  text-align: center;
  box-sizing: border-box;
}

.gallery-image-caption::before,
.gallery-image-caption::after {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  padding: 1em;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  z-index: -1;
}

.gallery-image-caption::before {
  right: 100%;
  bottom: 100%;
}

.gallery-image-caption::after {
  left: 100%;
  top: 100%;
}

.gallery-image-caption-visible {
  color: rgba(255, 255, 255, 1);
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease 0.3s;
}

.gallery-image-caption-visible::before,
.gallery-image-caption-visible::after {
  opacity: 1;
}

.gallery-image-caption-visible::before {
  right: -1.5em;
  bottom: -1.5em;
}

.gallery-image-caption-visible::after {
  left: -1.5em;
  top: -1.5em;
}

.gallery {
  column-gap: 0;
  /* gap: 10px; */
}

@media (min-width: 480px) {
  .gallery {
    column-count: 1;
  }
}

@media (min-width: 768px) {
  .gallery {
    column-count: 2;
  }
}

@media (min-width: 1260px) {
  .gallery {
    column-count: 3;
  }
}

.gallery-image {
  position: relative;
  margin: 0;
  padding: 0;
}

.gallery-image::before,
.gallery-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 16px solid rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
  will-change: border;
}

.gallery-image::after {
  border-width: 0;
}

.gallery-image img {
  display: block;
  max-width: 100%;
  height: auto;
}

html:not(.touch) .gallery-image {
  overflow: hidden;
}

html:not(.touch) .gallery-image:hover::before {
  border-width: 16px;
}

html:not(.touch) .gallery-image:hover::after {
  border-width: 32px;
}

html:not(.touch) .gallery-image:hover .gallery-image-caption {
  color: rgba(255, 255, 255, 1);
}

.touch .gallery-image .gallery-image-caption {
  color: rgba(255, 255, 255, 1);
  top: auto;
  bottom: 2em;
}
#teks{
  max-width: 80%;
  margin-left: 10%;
}